* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}


/* section header */

.section__header {
    text-align: center;
    color: #333333;
    margin: 90px auto;
    position: relative;
}

.section__header::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.section__uptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    margin-bottom: 10px;
}

.section__title {
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}


/* text */

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #a6a6a6;
    text-align: center;
    width: 950px;
    margin: 0 auto 100px;
}


/* INTRO */

.intro {
    background: url(assest/intro_bg.jpg) center no-repeat;
    background-attachment: fixed;
    height: 100vh;
    max-height: 1080px;
    background-size: cover;
}

.intro_container {
    height: 100%;
}

.intro__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.intro__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* logo */

.logo_mogo {
    color: white;
    font-weight: 700;
    font-size: 30px;
    margin-top: 25px;
    flex: 0 0 auto;
}


/* nav */

.nav {
    width: 620px;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    flex: 0 0 auto;
}

.navbutton {
    display: block;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s ease;
    flex: 0 0 auto;
}

.navicon img {
    filter: invert(1);
    height: 16px;
}

.navbutton::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: transparent;
    z-index: 10;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.navbutton:hover::after {
    background-color: #fce38a;
}

.navbutton:hover {
    color: #fce38a;
}


/* title */

.title {
    text-align: center;
    width: 800px;
    flex: 0 0 auto;
}

.title__uptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: white;
    text-align: center;
}

.title__subtitle {
    font-weight: 700;
    font-size: 150px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 125px;
    text-align: center;
}

.title__subtitle::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 50%;
    margin-top: 50px;
}

.title__button {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    border: 3px solid white;
    padding: 10px 30px;
    text-align: center;
    margin-left: 50px;
    transition: color 0.3s ease, border 0.3s ease;
}

.title__button:hover {
    color: black;
    border: black 3px solid;
}


/* title index */

.index {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
    flex: 0 0 auto;
}

.index__item {
    font-weight: 700;
    font-size: 24px;
    opacity: 0.7;
}

.index__item::before {
    content: '';
    display: block;
    width: 280px;
    height: 3px;
    background-color: white;
    margin-bottom: 25px;
}

.index__item__name {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}

.index-active {
    opacity: 1;
}

.index-active::after {
    content: '';
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    margin-top: -57px;
}


/* ABOUT US */

.aboutus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutus__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.aboutus__item__bg {
    display: block;
    background-color: #95e1d3;
    position: relative;
}

.aboutus__img__box {
    display: block;
    transition: all 0.3s ease;
    position: relative;
}

.aboutus__img__box:hover {
    transform: translateX(-10px)translateY(-10px);
}

.aboutus__img__box::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f38181, #fce38a);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.aboutus__img__box:hover::after {
    opacity: 0.9;
}

.aboutus__img {
    display: block;
}

.aboutus__item__title {
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    z-index: 20;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
}

.aboutus__item__title:hover {
    opacity: 1;
}


/* COUNTERS */

.counter {
    background-color: #95e1d3;
}

.counter__content {
    display: flex;
    width: 100%;
}


/* counter item */

.counter__item {
    height: 270px;
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #b5eae0;
}

.counter__item.active {
    border: none;
}

.counter__number {
    font-size: 72px;
    font-weight: 700;
    color: white;
}

.counter__text {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}


/* SERVICES */

.services {
    padding-bottom: 120px;
}

.services__content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.services__item {
    width: 33%;
    position: relative;
    padding-left: 90px;
    padding-right: 35px;
}

.services__item__title {
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;
}

.services__item__text {
    text-align: start;
    line-height: 24px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #a6a6a6;
}

.services__icon {
    position: absolute;
    left: 30px;
}

.services__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    margin: 50px 0;
}


/* DESIGN */

.design {
    height: 850px;
    background: url(assest/design/Layer\ 45.jpg) no-repeat;
    background-size: cover;
}

.design--container {
    height: 100%;
    position: relative;
}

.design__img {
    position: relative;
    bottom: 42px;
}

.design__tablet {
    position: absolute;
    left: 280px;
}

.design__phone {
    position: absolute;
    left: 690px;
    top: 235px;
}

.design--header {
    margin-top: 0;
    padding-top: 100px;
}


/* WEDO */

.wedo__content {
    display: flex;
    width: 100%;
    gap: 30px;
    margin-bottom: 120px;
}

.wedo__content__item {
    height: 380px;
    width: 50%;
}

.wedo__accordeon {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.wedo__accordeon__item {
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #e5e5e5;
    position: relative;
}

.accordeon__item__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    line-height: 2;
    padding: 10px 0;
}

.accordeon__galka {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.active--galka {
    transform: rotate(0.5turn);
}

.accordeon__icon {
    margin-left: 14px;
}

.accordeon__item__text {
    font-family: Roboto;
    font-style: italic;
    font-size: 15px;
    font-weight: 300;
    color: #999;
    line-height: 24px;
    padding: 20px;
    border-top: 1px solid #e5e5e5;
    overflow-y: scroll;
}


/* QUOTE SLIDER */

.quote__slider {
    background-color: #f8f8f8;
}

.quote--container {
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* buttons */

.quote__bttn {
    display: flex;
    height: 100%;
    width: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.quote__bttn:hover {
    background: #e9e9e9;
}

.quote--prev {
    transform: rotate(-0.25turn);
}

.quote--next {
    transform: rotate(0.25turn);
}


/* content */

.quote__content {
    width: auto;
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.quote__quote {
    width: 740px;
}

.quote__text {
    font: italic 300 24px/1.5 Roboto;
    color: #999;
    margin-bottom: 10px;
}

.autograph {
    font: 400 24px Kaushan Script;
    display: inline-flex;
    align-items: center;
}

.autograph::before {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin-right: 10px;
}


/* OUR TEAM */

.our__teamate {
    display: block;
    text-align: center;
    margin: 30px auto 0;
}

.our__teamate__name {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 12px;
}

.our__teamate__post {
    font: italic 300 15px Roboto;
    color: #999;
}


/* LOGOS */

.logos {
    background-color: #f8f8f8;
}

.logos--content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logos__logo {
    margin: 60px 10px;
}


/* SOME WORKS */

.some__works {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
}

.works--big--img {
    grid-row: span 2;
}

.works__img__box .aboutus__img {
    max-width: 100%;
}

.works__img__box {
    position: relative;
}

.works__img__box::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f38181, #fce38a);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.works__img__box:hover::after {
    opacity: 0.9;
}


/* WHITE QUOTE */

.white--quote {
    background-color: white;
}

.white--quote--container {
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* PEOPLE SAY */

.people__say {
    height: 830px;
    background: url(assest/people_say/people_bg.jpg) center;
    background-attachment: cover;
}

.people--header {
    margin-top: 0;
    padding-top: 100px;
}

.people__content {
    display: grid;
    grid-template-columns: repeat(2, 520px);
    row-gap: 70px;
    column-gap: 90px;
    margin-top: 160px;
}

.people__item {
    display: flex;
}

.people__img {
    height: 112px;
}

.people__text {
    margin-left: 30px;
}

.people__name {
    text-transform: uppercase;
    font: 400 14px Montserrat;
    color: rgb(71, 40, 40);
    margin-bottom: 10px;
}

.people__post {
    font: 300 italic 16/24 Roboto;
    color: #333;
    margin-bottom: 40px;
    position: relative;
}

.people__post::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    left: 0;
    top: 38px;
}

.people__quote {
    font: 400 15px/24px Roboto;
    color: #999;
}


/* OUR STORIES */

.stories__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 110px;
}

.stories__picture {
    position: relative;
    margin-bottom: 15px;
}

.stories__date {
    display: flex;
    position: absolute;
    background-color: #95e1d3;
    color: white;
    width: 60px;
    height: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: -10px;
    top: 160px;
}

.stories__day {
    font: 700 30px Montserrat;
}

.stories__month {
    font-style: italic;
}

.stories__subtitle {
    font: 400 14px Montserrat;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 15px;
}

.stories__text {
    margin-bottom: 15px;
}

.stories__counter {
    display: flex;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
}

.stories__counter__block {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.stories__icon {
    height: min-content;
    margin-right: 5px;
}


/* OPEN MAP */

.openmap {
    background: url(assest/Openmap/map.jpg);
    height: 200px;
    display: block;
    position: relative;
}

.openmap__text {
    position: absolute;
    transform: translateX(-50%)translateY(-50%);
    left: 50%;
    top: 50%;
    font: 700 24px 'Montserrat';
    text-transform: uppercase;
    color: #f38181;
}

.openmap__text::before {
    content: url(assest/Openmap/PIN.png);
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -38px;
}

.openmap__text::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -20px;
}


/* FOOTER */

.footer {
    background-color: #f8f8f8;
    padding-top: 75px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 360px;
}

.footer__item_mogo {
    width: 472px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer__header_mogo {
    font: 700 46px 'Montserrat';
    color: #ccc;
    display: flex;
    flex-direction: column;
}

.footer__text {
    font: 400 15px/24px 'Roboto';
    color: #999;
}

.footer__followers {
    font: 400 16px 'Roboto';
    color: #333;
    border-bottom: 1px solid rgb(219, 219, 219);
    height: 33px;
}

.footer__number__followers {
    font: 700 20px 'Roboto';
}

.footer__follow__us {
    display: flex;
}

.footer__follow__icons {
    display: flex;
}

.footer__follow__icons a {
    margin-right: 16px;
    display: block;
}

.follow__svg:hover {
    fill: #72d487;
}

.follow__svg {
    transition: fill 0.2s ease;
}

.footer__follow__text {
    font: 300 italic 15px/24px 'Roboto';
    color: #999;
    margin-right: 20px;
}

.footer__subscribe__form {
    display: inline-flex;
    box-shadow: none;
}

.subscribe__form__input {
    width: 230px;
    height: 40px;
    border-radius: 0;
    border: 1px solid #a6a6a6
}

.subscribe__form__input::placeholder {
    font: 300 italic 15px/24px 'Roboto';
    color: #ccc;
}

.subscribe__form__button {
    width: 150px;
    height: 40px;
    background-color: #95e1d3;
    text-align: center;
    vertical-align: middle;
    color: white;
    font: 700 12px 'Roboto';
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: 1px solid #a6a6a6;
    border-left: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.subscribe__form__button:hover {
    background-color: #72d487;
}


/* footer blogs */

.footer__item {}

.footer__item_blogs {
    width: 340px;
}

.footer__header {
    font: 400 14px 'Montserrat';
    text-transform: uppercase;
    color: #333;
}

.footer__blogs__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.footer__blogs__item {
    display: flex;
}

.footer__blogs__item img {
    margin-right: 20px;
}

.footer__blogs__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__blogs__description {
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #333;
}

.footer__blogs__date {
    font: 300 italic 13px/24px "Roboto";
    color: #999;
}


/* instagram */

.footer__item {}

.footer__item_instagram,
.footer__item_blogs {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__header {}

.instagram__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.instagram__album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
}

.instagram__photo {}

.instagram__more-photos {
    font: italic 300 13px/13px Roboto;
    color: #333;
    text-decoration: none;
    transition: text-shadow 0.2s ease;
}

.instagram__more-photos:hover {
    text-shadow: 1px 1px 1px rgb(167, 167, 167);
}

.footer__copyright {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}

.copyright__text {
    font-size: 14px;
    color: #333;
}

.copyright__link {
    color: #f38181;
}

.copyright__link:hover {
    text-decoration: underline;
}